@page "/"

<PageTitle>Index</PageTitle>

<h1>Mechanic Management System</h1>

This is a system for managing jobs and customers for a mechanic. Users can create customers and jobs for each customers.
Jobs can be marked as completed and the total cost based on the total cost of parts for the job and the total hours spent on the job will be displayed.
Parts can be added for each job.
