@page "/jobs"
@page "/jobs/{id:int}"
@inject IJobService JobService
@inject ICustomerService CustomerService
@inject NavigationManager NavigationManager

<PageTitle>Jobs</PageTitle>

<h3>All Jobs Page</h3>

<table class="table">
    <thead>
        <tr>
            <th>Job Title</th>
            <th>Start Date</th>
            <th>Finish Date</th>
            <th>Total Hours</th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in JobService.Jobs)
        {
            <tr>
                <td>@job.JobTitle</td>
                <td>@job.StartDate</td>
                @if (job.IsCompleted)
                {
                    <td>@job.FinishDate</td>
                    <td>@job.TotalHours</td>
                }
                else
                {
                    <td>-</td>
                    <td>-</td>
                }
                <td>
                    <button class="btn-primary" @onclick="(() => ShowJob(Id, job.ID))"><i class="oi oi-pencil"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary" @onclick="OnClick">Create New Job</button>


@code {
    [Parameter]
    public int Id { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await JobService.GetCustomerJobs((int)Id);
    }

    void ShowJob(int custid, int id)
    {
        NavigationManager.NavigateTo($"job/{custid}/{id}");
    }

    private async Task OnClick()
    {
        await CreateNewJob(Id);
    }

    public async Task CreateNewJob(int id)
    {
        NavigationManager.NavigateTo($"job/{id}");
    }
}
